<div class="breadcrumbs">
<ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
<li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem"><a  itemscope itemtype="http://schema.org/Thing"
       itemprop="item" routerLink="/"><span  itemprop="name">Main </span>  </a> > </li>
<li ><span  itemprop="name">{{name | titlecase }}</span></li>
</ul>


<h1>List of articles category: {{name | titlecase }}</h1>
	<form>
	<input [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}" (click)="clearInput(searchInput)" #searchInput type="text" class="form-control search" placeholder="Search" >
</form>
<div class="clear"></div>
<div *ngFor="let articles of listArticles | filter: searchTitle">
<h3 class="article-title" (click)="linkTo(articles.id)">{{articles.title.rendered}}</h3>
<span>{{articles.date | slice:0:10}}</span>	
<div [innerHTML]="(articles.content.rendered.length>6)? (articles.content.rendered | slice:0:150)+'...':(articles.content.rendered)"></div>
</div>